<!DOCTYPE html>
<html>
    <head>
        <title>Citywander</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <img src="http://citywander.website/assets/images/logo.png" alt="Citywander"/>
        <p>Szia  <<<name>>> !</p>
        <br>
        <p>Jelszavad beírásához a következő linkre kell kattintani:</p>
        <a href="http://citywander.website/index.php/forgotpassword/resetpassword/<<<resetid>>>" >Link</a>
        <p></p>
        <br><br>
        <p>Citywander</p>
        
    </body>
</html>