<!DOCTYPE html>
<html>
    <head>
        <title>Citywander</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <img src="http://citywander.website/assets/images/logo.png" alt="Citywander logo"/>
        <h3>Welcome <<<name>>> !</h3>
        <br>
        <p>You have successfully register to the citywander website.</p>
        <h4>We’re here to help</h4>
        <p>You can contact us directly if you have any question about Citywander’s promotions.</p>
        <a href="mailto:info@citywander.website">info@citywander.website</a>
        <br><br>
        <p>CITYWANDER TEAM</p>
    </body>
</html>