<!DOCTYPE html>
<html>
    <head>
        <title>CITYWANDER</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <img src="http://manooi.com/v33/personalassistance/assets/template/manooilogo.jpg" alt="Manooi logo"/>
        <h3>Thank you very much for your request. </h3>
        <p>We are going to contact you soon with the needed information.</p>
        <br><br>
        <p>CITYWANDER Team</p>
    </body>
</html>