<!DOCTYPE html>
<html>
    <head>
        <title>YOGOPLAY Registration</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <table style="width: 600px;">
            <tr>
                <td style="text-align: center;">
                    <img src="http://yogoplay.com/test/assets/images/logo-red.png" alt="">
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <h2 style="text-transform: uppercase;color: #f00;">Értesítés</h2>
                </td>
            </tr>
            <tr>
                <td>
                    Kedves <span style="color: #f00;"><<<name>>></span>!
                </td>
            </tr>
            <tr>
                <td>
                    Köszönjük regisztrációdat a CITYWANDER.WEBSITE oldalon!
                    Nézd meg különleges ajánlatainkat!
                    
                </td>
            </tr>
            <tr>
                <td>
                    Megerősítés ideje : <<<regdate>>>
                    
                </td>
            </tr>
            
            <tr>
                <td>
                    Köszönjük a <span style="color: #f00;">CITYWANDER</span> csapata.
                </td>
            </tr>
        </table>
    </body>
</html>
