<!DOCTYPE html>
<html>
    <head>
        <title>Citywander Registration</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <table style="width: 600px;">
            <tr>
                <td style="text-align: center;">
                    <img src="http://citywander.website/assets/images/logo.png" alt="">
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <h2 style="text-transform: uppercase;color: #f00;">Értesítés</h2>
                </td>
            </tr>
            <tr>
                <td>
                    Kedves <span style="color: #f00;"><<<name>>></span>!
                </td>
            </tr>
            <tr>
                <td>
                    Regisztráltál a CITYWANDER.COM oldalon, kérlek erősítsd meg a regisztrációdat a következő linkre kattintva!
                    
                </td>
            </tr>
            <tr>
                <td>
                    Regisztráció ideje : <<<regdate>>>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <a href="http://citywander.website/index.php/registration/registredcheckedvisitor/<<<cus>>>" style="color: #f00;text-decoration: underline;">Megerősítés</a> 
                </td>
            </tr>
            <tr>
                <td>
                    Köszönjük a <span style="color: #f00;">CITYWANDER</span> csapata.
                </td>
            </tr>
        </table>
    </body>
</html>
